<% include ./partials/header %>

<div class="container" id="main-container">
	<h1>Create SKUs</h1>
	<form onsubmit="return validateColors()" action="/skuCreation" method="POST">
		<input type="text" name="sku[parent]" placeholder="Parent SKU" required="true">
		<input type="text" name="variantTitle" placeholder="Title" required="true">
		
		<span id="fb-container">
			<input type="text" name="fbCode[]" data-fbIndex="0" placeholder="Fabric Book">
		</span>
		<button id="fb-add-btn" type="button" onclick="addFbCode()">Add FB</button>

		<div class='inputSet'>
			<label for="classification">Classification: </label>
			<select name="classification" id="classification" required="true" onchange="showNeckType(this)">
				<option value="" selected>Select One</option>
				<<% allClass.forEach(classification => { %>
					<% if (classification.isEnabled) { %>
					<option value="<%= classification.name %>"><%= classification.name %></option>
					<% }; %>
				<% }); %>>
			</select>

			<label for="brand">Brand: </label>
			<select name="brand" id="brand" required="true">
				<option value="AMARYLLIS" selected="true">AMARYLLIS</option>
				<option value="AMA By Amaryllis">AMA By Amaryllis</option>
				<option value="REFLECTION">REFLECTION</option>
			</select>

			<label for="care">Care Instructions: </label>
			<select name="care" id="care">
				<option value="" selected>Select One</option>
				<option value="19-1001">19-1001</option>
				<option value="19-1002">19-1002</option>
				<option value="19-1003">19-1003</option>
				<option value="19-1004">19-1004</option>
				<option value="19-1005">19-1005</option>
				<option value="19-1006">19-1006</option>
				<option value="19-1007">19-1007</option>
				<option value="19-1008">19-1008</option>
				<option value="19-1009">19-1009</option>
			</select>
		</div>

    <label for="inseam">Inseam: </label>
    <input type="text" name="inseam" id="inseam" placeholder="15 in">

    <label for="hps">High Point of Shoulder(HPS): </label>
		<input type="text" name="hps" id="hps" placeholder="13 in">
		
		<label for="regWeight">Weight (in oz): </label>
		<input type="number" name="regWeight" id="regWeight" placeholder="8" step="1">

		<label for="plusWeight">Plus Weight: </label>
		<input type="number" name="plusWeight" id="plusWeight" placeholder="10" step="1">

		<span class="hidden-input" id="neck-contain">
			<label for="neckType">Neck Type: </label>
			<select name="neckType" id="neckType">
				<option value="" selected>Select One</option>
				<option value="Crew neck">Crew neck</option>
				<option value="Boat neck">Boat neck</option>
				<option value="V-Neck">V-Neck</option>
				<option value="Mock">Mock</option>
				<option value="Turtle">Turtle</option>
				<option value="Jewel">Jewel</option>
				<option value="Cowl">Cowl</option>
				<option value="Square">Square</option>
				<option value="Scoop">Scoop</option>
				<option value="Keyhole">Keyhole</option>
				<option value="Sweetheart">Sweetheart</option>
				<option value="Off Shoulder">Off Shoulder</option>
				<option value="Halter">Halter</option>
				<option value="Collar">Collar</option>
				<option value="Strapless">Strapless</option>
			</select>
		</span>

		<div id="colorFields">
			<div class="fabricBookFieldset">
				<input type="text" list="colorNameList" name="colorSet[color1][colorName]" placeholder="Color" required="true" onchange="fillColorCode(event)" class="colorName">
				<input type="text" name="colorSet[color1][colorCode]" placeholder="Color Code" required="true" readonly>
				<input type="text" name="colorSet[color1][pictureLink]" placeholder="Image Link">
				<span class="fb-color-container">
						<input type="text" name="colorSet[color1][fbColor][]" data-fbColor="0" placeholder="FB Color Number">
				</span>
				<button type="button" id="addColor" onclick="addFields(colorFields)">Add Color</button>
			</div>
			<datalist id="colorNameList">
				<% allColors.forEach(color => { %>
					<option value="<%= color.color %>">
				<% }); %>
			</datalist>
		</div>
		
		<fieldset>
			<legend>Sizes</legend>
			<div id="sizeContainer">
				<label><input type="checkbox" name="size[]" value="XS">XS</label>
				<label><input type="checkbox" name="size[]" value="S">S</label>
				<label><input type="checkbox" name="size[]" value="M">M</label>
				<label><input type="checkbox" name="size[]" value="L">L</label>
				<label><input type="checkbox" name="size[]" value="XL">X</label>
				<label><input type="checkbox" name="size[]" value="P1X">P1X</label>
				<label><input type="checkbox" name="size[]" value="P2X">P2X</label>
				<label><input type="checkbox" name="size[]" value="P3X">P3X</label>
				<label><input type="checkbox" onclick="selectAll(this)">Select All</label>
				<br>
				<button type="button" class="sizeStyle" id="regSizing" onclick="sizeToggle('reg')">Standard</button>
				<button type="button" class="sizeStyle" id="kimonoSizing" onclick="sizeToggle('kimono')">Kimono</button>
				<button type="button" class="sizeStyle" id="denimSizing" onclick="sizeToggle('denim')">Denim</button>
				<button type="button" class="sizeStyle" id="sweaterSizing" onclick="sizeToggle('sweater')">Sweaters</button>
			</div>			
		</fieldset>
		

		<fieldset id="suppCost">
			<legend>Cost</legend>
			<div class="inputSet">
				<label for="suppName">Supplier: </label>
				<select name="supp[0][Name]" id="suppName" required="true" onchange="updateSupplier(this)">
					<option value="" selected>Select One</option>
					<<% allSupp.forEach(supplier => { %>
						<% if (supplier.isEnabled) { %>
						<option value="<%= supplier.name %>" data-id="<%= supplier._id %>"><%= supplier.name %></option>
						<% }; %>
					<% }); %>>
				</select>
				<label for="rawCost">Raw Cost: </label>
				<input type="number" name="supp[0][rawCost]" id="rawCost" step="0.01">
				<label for="plusRawCost">Plus Cost: </label>
				<input type="number" name="supp[0][plusCost]" id="plusRawCost" step="0.01">
				<button type="button" onclick="addSupplier()">Add Supplier</button>
			</div>
		</fieldset>
		
		<input type="submit">
	</form>

	<form id="newColorForm">
		<h3 class="newColorField">Add New Color</h3>
		<label for="newColor">New Color </label>
		<input type="text" name="newColor" id="newColor">
		<label for="newCode">New Code </label>
		<input type="text" name="newCode" id="newCode">
	</form>
	<button type="button" onclick="sendData('/colors', 'newColorForm', makeColor)">Create New Color</button>
</div>

<script type="text/javascript">
	<% allColorsString = JSON.stringify(allColors) %>
	var clientColorList = <%- allColorsString %>;
	<% allSupps = JSON.stringify(allSupp) %>
	var clientSuppList = <%- JSON.stringify(allSupp) %>;
</script>

<% include ./partials/footer %>